.employee-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 700px) {
  .employee-actions {
    justify-content: stretch;

    > * {
      width: 100%;
    }
  }
}
